.aboutItem {
    color: $colorViolentViolet;
    &.-middle{
        margin: 2em 0;
    }
    &_heading {
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 0.4em;
        margin-bottom: 0.3em;
    }
    &_paragraph {
        margin-top: 0;
        font-size: 0.8em;
    }
    @include screen(desktop) {
        &_heading {
            font-size: 0.9em;
        }
        &_paragraph {
            font-size: 0.7em;
        }
    }
}
