.articles {
    @include flex(column,nowrap,center,center,center);
    padding: 3em 0;
    &_articleItem {
        margin: 2em;
        width: 70%;
    }

    @include screen(desktop){
        @include flex(row,wrap,center,center,center);
        padding: 4em 0;
        &_articleItem {
            min-width: 350px;
            max-width: 450px;
            width: 25%;
        }
    }
}
