$colorCararra: #efeee9;
$colorMineShalf: #222222;
$colorMineShalfLighten8: lighten($colorMineShalf, 8%);
$colorMineShalfLighten18: lighten($colorMineShalf, 18%);
$colorMineShalfLighten25: lighten($colorMineShalf, 25%);
$colorViolentViolet: #290A59;
$colorDodgerBlue: #4E4AFF;
